<div class= "jumbotron jumbotron-fluid card text-white bg-info">
    <div class="container">
      <h1 class="display-4">Choose Your Tripp ; )</h1>
      <p class="lead">Our Mission Is Your Happiness!</p>
    </div>
  </div>
<div class="card-deck">
<div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/amster.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Amsterdam:<br>
            One Week for 560€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 4 Stars Hotel, in the middle of Amsterdam.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/america.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">America / NY:<br>
            One Week for 1560€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 4 Stars Hotel, in the middle of NY.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/breakfastparis.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Paris:<br>
            One Weekend for 260€</h5>
          <p class="card-text">Our Offer:<br>
            One weekend (Saturday-Sunday) in a 4 Stars Hotel, in the middle of Paris.<br>
            Choose a date (Travel only bookable from Saturday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/greece.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Greece / Kreta:<br>
            One Week for 460€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 3 Stars Hotel, in the middle of Kreta.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/hawaii.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hawaii:<br>
            One Week for 3560€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 4 Stars Hotel, in the middle of Hawaii.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/italy.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Italy / Rome:<br>
            One Week for 660€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 3 Stars Hotel, in the middle of Rome.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/jamiaka.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Jamaika:<br>
            One Week for 2560€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 5 Stars Hotel, in the middle of Jamaika.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../assets/img/paris.jpg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Paris:<br>
            One Week for 860€</h5>
          <p class="card-text">Our Offer:<br>
            One week (Monday-Sunday) in a 4 Stars Hotel, in the middle of Paris.<br>
            Choose a date + the amount of weeks (Travel only bookable from Monday to Sunday!)</p>
          <p class="card-text"><small class="text-muted">Price: incl. Flight + Breakfast</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
